<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>about</title>
</head>
<body>
<h1>about</h1>
<!doctype html>
 lang="en">
<head>
    <meta charset="UTF-8">















































































































































































































































































































    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Women</title>
</head>
<body>
<ul>
{% for i in menu %}
    <li><a href="{% url i.url %}">{{ i.name }}</a></li>
{% endfor %}
    <hr>

{% for i in women %}
    {% if i.image %}
    <p><img src="{{i.image.url}}" alt=""></p>
    {% endif %}
    <h2>{{ i.get_full_name }}</h2>
    <h3>{{ i.age }} лет</h3>
    <h4>{{ i.bio }}</h4>
    <hr>
    {% endfor %}
</ul>
</body>

</body>
</html>
