<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Animal</title>
</head>
<body>
<h1>Edit Animal</h1>
< form action=""method="POST">
｛% csrf_token %}｛{ forn.as_p}｝
 <Label for= "name">Name:</Label>
<input type="text" i|d="name" name="name">
<label for="name">Name:</label>
<input type="text" id="name" name=" name"><br>

<label for="age">Age:</label>
<input type="number" id="age" name="age"><br>

<label for="breed">Breed:</label>
<input type="text" id="breed" name="breed"><br>





</form>
</body>
</html>